Screen {
    layout: horizontal;
    overflow-x: auto;
}

.box {
    height: 100%;
    width: 1fr;
}

.rooms {
    width: 20;
    background: $surface-darken-1;
    border-right: tall white;
}

.chat {
    width: 1fr;
    height: 1fr;
}
.input_field{
    width: 1fr;
    border: tall $accent;
}

.input{
    height: 3;
}

.input_submit{
    min-width: 6;
    width: 6;
}

.users {
    width: 20;
    background: $surface-darken-1;
    border-left: tall white;
}
